## Feature Engineering Notebook

This notebook performs the final data cleaning and feature engineering, preparing the dataset for use in PowerBI.

Since the machine learning model aims to utilize information provided by the customer at the time an incident is reported, certain features were excluded from use. These include high cardinality features (policy_number and insured_zip) and features that would be unavailable at the time of incident reporting (fraud_reported and individual claim amounts).

These features will, however, still be useful for visualization purposes in the dashboard and will therefore be retained in this notebook.

In [1]:
# Import packages
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',None)

In [2]:
# Read in the data
df = pd.read_excel('../Data/Insurance Claims Data - Cleaned.xlsx')

In [3]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300.0,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0.0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100.0,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,unknown,unmarried,48900.0,-62400,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,unknown,unmarried,66000.0,-46000,2015-02-17,Vehicle Theft,?,Minor Damage,NaN,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

### Data Preprocessing

In [4]:
# Normalize case of text columns to avoid inconsistencies
def standardize_case(x):
    if isinstance(x, str):
        return x.capitalize()
    else:
        return x

exclude_columns = ['policy_state','incident_state','insured_education_level']

df = df.apply(lambda col: col.map(standardize_case) if col.name not in exclude_columns else col)

In [5]:
# Replace NaN values with the string 'none'
df['authorities_contacted'] = df['authorities_contacted'].fillna('None')

In [6]:
# Replace '?' datapoints with 'unknown'
df = df.replace('?', 'Unknown')

### Feature Engineering

In [7]:
# Binary label
df['incident_severity'] = df['incident_severity'].apply(lambda x: 'Major' if x in ['Major damage','Total loss'] else 'Minor')

#### Policy features

In [8]:
# Contract years
df['years_as_customer'] = round(df['months_as_customer']/12,2)

In [9]:
# Split CSL into individuual bodily injury and property damage limits
df['policy_csl_bi'] = df['policy_csl'].apply(lambda x: int(x.split('/')[0]))
df['policy_csl_pd'] = df['policy_csl'].apply(lambda x: int(x.split('/')[1]))
df = df.drop('policy_csl',axis=1)

In [10]:
# Monthly premium
df['policy_monthly_premium'] = round(df['policy_annual_premium']/12, 2)

In [11]:
# Total premiums paid
df['total_premiums_paid'] = round((df['policy_annual_premium'] * df['years_as_customer']),2)

In [12]:
# Net value of customer
df['customer_net_value'] = df['total_premiums_paid'] - df['total_claim_amount']

In [13]:
# Umbrella limit binary
df['umbrella_limit_present'] = df['umbrella_limit'].apply(lambda x: 'No' if x == 0 else 'Yes')

In [14]:
# Policyholder age-group
def age_grouping(df):
    
    if df['age'] <= 35:
        return 'Young adult'
    elif df['age'] <= 55:
        return 'Middle aged'
    else:
        return 'Elderly'
    
df['age_group'] = df.apply(age_grouping, axis=1)

#### Datetime features

In [15]:
def extract_time_features(df, column):
    
    # Extract the relevant time features
    df[f'{column}_year'] = df[column].dt.year
    df[f'{column}_month'] = df[column].dt.month
    df[f'{column}_week'] = df[column].dt.isocalendar().week
    df[f'{column}_day'] = df[column].dt.day
    df[f'{column}_weekday'] = df[column].dt.weekday
    
    # Drop the existing datetime feature
    df = df.drop(column, axis=1)
    
    return df

df = extract_time_features(df, 'policy_bind_date')
df = extract_time_features(df, 'incident_date')

In [16]:
def week_period(df):
    
    if df['incident_date_weekday'] in (6,0,1):
        return 'Week start'
    elif df['incident_date_weekday'] in (2,3):
        return 'Midweek'
    else:
        return 'Weekend'

df['incident_week_period'] = df.apply(week_period, axis=1)

In [17]:
def month_name(df, column):
    
    month_of_year = {
        1: 'Jan',
        2: 'Feb',
        3: 'Mar',
        4: 'Apr',
        5: 'May',
        6: 'Jun',
        7: 'Jul',
        8: 'Aug',
        9: 'Sep',
        10: 'Oct',
        11: 'Nov',
        12: 'Dec'
    }
    
    df[column] = df[column].map(month_of_year)
    
    return df

#df = month_name(df, 'incident_date_month')
#df = month_name(df, 'policy_bind_date_month')

In [18]:
def weekday_name(df, column):
    
    day_of_week = {
        0: 'Mon',
        1: 'Tue',
        2: 'Wed',
        3: 'Thu',
        4: 'Fri',
        5: 'Sat',
        6: 'Sun'
    }
    
    df[column] = df[column].map(day_of_week)
    
    return df

#df = weekday_name(df, 'incident_date_weekday')
#df = weekday_name(df, 'policy_bind_date_weekday')

In [19]:
def day_period(df):
    
    if df['incident_hour_of_the_day'] in range(3,10):
        return 'Morning'
    elif df['incident_hour_of_the_day'] in range(10,20):
        return 'Afternoon'
    else:
        return 'Night'

df['incident_day_period'] = df.apply(day_period, axis=1)

#### Claim features

In [20]:
# Claim values
df['injury_claim_amount'] = df['injury_claim']
df['property_claim_amount'] = df['property_claim']
df['vehicle_claim_amount'] = df['vehicle_claim']

In [21]:
# Categorical claim subsets
df['injury_claim'] = df['injury_claim'].apply(lambda x: 'No' if x==0 else 'Yes')
df['property_claim'] = df['property_claim'].apply(lambda x: 'No' if x==0 else 'Yes')
df['vehicle_claim'] = df['vehicle_claim'].apply(lambda x: 'No' if x==0 else 'Yes')

#### Incident and vehicle features

In [22]:
# Incident location
df['incident_road_type'] = df['incident_location'].apply(lambda x: x.split()[-1].capitalize())

In [23]:
# Vehicle body shape
def body_shape(df):
    
    if df['auto_model'] in ['ram','f150','silverado']:
        return 'Pickup'
    elif df['auto_model'] in ['92x','95','93']:
        return 'Wagon'
    elif df['auto_model'] in ['tahoe','pathfinder','highlander','mdx','forrestor','escape','wrangler',
                              'x5','crv','x6','malibu','fusion','ml350','grand cherokee']:
        return 'SUV'
    else:
        return 'Sedan'

df['auto_body_shape'] = df.apply(body_shape, axis=1)

In [24]:
# Vehicle age
def vehicle_age(df):
    
    if df['auto_year'] > 2010:
        return '< 5 years'
    elif df['auto_year'] > 2005 and df['auto_year'] <= 2010:
        return '6-10 years'
    elif df['auto_year'] > 2000 and df['auto_year'] <= 2005:
        return '11-15 years'
    else:
        return '> 15 years'
    
df['auto_age'] = df.apply(vehicle_age, axis=1)

In [25]:
df.head()

,months_as_customer,age,policy_number,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,years_as_customer,policy_csl_bi,policy_csl_pd,policy_monthly_premium,total_premiums_paid,customer_net_value,umbrella_limit_present,age_group,policy_bind_date_year,policy_bind_date_month,policy_bind_date_week,policy_bind_date_day,policy_bind_date_weekday,incident_date_year,incident_date_month,incident_date_week,incident_date_day,incident_date_weekday,incident_week_period,incident_day_period,injury_claim_amount,property_claim_amount,vehicle_claim_amount,incident_road_type,auto_body_shape,auto_age
0,328,48,521585,OH,1000,1406.91,0,466132,Male,MD,Craft-repair,Sleeping,Husband,53300.0,0,Single vehicle collision,Side collision,Major,Police,SC,Columbus,9935 4th drive,5,1,Yes,1,2,Yes,71610,Yes,Yes,Yes,Saab,92x,2004,Y,27.33,250,500,117.24,38450.85,-33159.15,No,Middle aged,2014,10,42,17,4,2015,1,4,25,6,Week start,Morning,6510,13020,52080,Drive,Wagon,11-15 years
1,228,42,342868,IN,2000,1197.22,5000000,468176,Male,MD,Machine-op-inspct,Reading,Other-relative,0.0,0,Vehicle theft,Unknown,Minor,Police,VA,Riverwood,6608 mlk hwy,8,1,Unknown,0,0,Unknown,5070,Yes,Yes,Yes,Mercedes,E400,2007,Y,19.00,250,500,99.77,22747.18,17677.18,Yes,Middle aged,2006,6,26,27,1,2015,1,4,21,2,Midweek,Morning,780,780,3510,Hwy,Sedan,6-10 years
2,134,29,687698,OH,2000,1413.14,5000000,430632,Female,PhD,Sales,Board-games,Own-child,35100.0,0,Multi-vehicle collision,Rear collision,Minor,Police,NY,Columbus,7121 francis lane,7,3,No,2,3,No,34650,Yes,Yes,Yes,Dodge,Ram,2007,N,11.17,100,300,117.76,15784.77,-18865.23,Yes,Young adult,2000,9,36,6,2,2015,2,8,22,6,Week start,Morning,7700,3850,23100,Lane,Sedan,6-10 years
3,256,41,227811,IL,2000,1415.74,6000000,608117,Female,PhD,Armed-forces,Unknown,Unmarried,48900.0,-62400,Single vehicle collision,Front collision,Major,Police,OH,Arlington,6956 maple drive,5,1,Unknown,1,2,No,63400,Yes,Yes,Yes,Chevrolet,Tahoe,2014,Y,21.33,250,500,117.98,30197.73,-33202.27,Yes,Middle aged,1990,5,21,25,4,2015,1,2,10,5,Weekend,Morning,6340,6340,50720,Drive,Sedan,< 5 years
4,228,44,367455,IL,1000,1583.91,6000000,610706,Male,Associate,Sales,Unknown,Unmarried,66000.0,-46000,Vehicle theft,Unknown,Minor,None,NY,Arlington,3041 3rd ave,20,1,No,0,1,No,6500,Yes,Yes,Yes,Accura,Rsx,2009,N,19.00,500,1000,131.99,30094.29,23594.29,Yes,Middle aged,2014,6,23,6,4,2015,2,8,17,1,Week start,Night,1300,650,4550,Ave,Sedan,6-10 years

### Reorder features

In [26]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_state',
       'policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'insured_sex', 'insured_education_level',
       'insured_occupation', 'insured_hobbies', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', 'years_as_customer',
       'policy_csl_bi', 'policy_csl_pd', 'policy_monthly_premium',
       'total_premiums_paid', 'customer_net_value', 'umbrella_limit_present',
       'age_group', 'policy_bind_date_year', 'policy_bind_date_month',
       'policy_bind_date_week', 'policy_bind_date_day',
       'policy_bind_date_weekday', 'incident_date_year', 'incident_date_month',
       'incident_date_week', 'incident_date_day', 'incident_date_weekday',
       'incident_week_period', 'incident_day_period', 'injury_claim_amount',
       'property_claim_amount', 'vehicle_claim_amount', 'incident_road_type',
       'auto_body_shape', 'auto_age'],
      dtype='object')

In [27]:
policy_details = ['policy_number','policy_bind_date_year','policy_bind_date_month',
                  'policy_bind_date_week','policy_bind_date_day','policy_bind_date_weekday',
                  'years_as_customer','months_as_customer','policy_state','policy_annual_premium',
                  'policy_monthly_premium','policy_deductable','umbrella_limit_present',
                  'umbrella_limit','policy_csl_bi','policy_csl_pd','total_premiums_paid',
                  'customer_net_value']

policyholder_details = ['insured_zip','age','age_group','insured_sex','insured_education_level',
                        'insured_occupation','insured_hobbies','insured_relationship','capital-gains',
                        'capital-loss']

incident_details = ['incident_date_year','incident_date_month','incident_date_week','incident_date_day',
                    'incident_date_weekday','incident_week_period','incident_hour_of_the_day',
                    'incident_day_period','incident_state','incident_city','incident_location',
                    'incident_type','collision_type','incident_severity','number_of_vehicles_involved',
                    'incident_road_type','property_damage','bodily_injuries','auto_make','auto_model',
                    'auto_body_shape','auto_year','auto_age','witnesses','authorities_contacted',
                    'police_report_available']

claim_details = ['total_claim_amount','injury_claim','injury_claim_amount','property_claim',
                 'property_claim_amount','vehicle_claim','vehicle_claim_amount','fraud_reported']

In [28]:
new_order = policy_details + policyholder_details + incident_details + claim_details

In [29]:
df_reordered = df[new_order]

In [30]:
df_reordered.head()

,policy_number,policy_bind_date_year,policy_bind_date_month,policy_bind_date_week,policy_bind_date_day,policy_bind_date_weekday,years_as_customer,months_as_customer,policy_state,policy_annual_premium,policy_monthly_premium,policy_deductable,umbrella_limit_present,umbrella_limit,policy_csl_bi,policy_csl_pd,total_premiums_paid,customer_net_value,insured_zip,age,age_group,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date_year,incident_date_month,incident_date_week,incident_date_day,incident_date_weekday,incident_week_period,incident_hour_of_the_day,incident_day_period,incident_state,incident_city,incident_location,incident_type,collision_type,incident_severity,number_of_vehicles_involved,incident_road_type,property_damage,bodily_injuries,auto_make,auto_model,auto_body_shape,auto_year,auto_age,witnesses,authorities_contacted,police_report_available,total_claim_amount,injury_claim,injury_claim_amount,property_claim,property_claim_amount,vehicle_claim,vehicle_claim_amount,fraud_reported
0,521585,2014,10,42,17,4,27.33,328,OH,1406.91,117.24,1000,No,0,250,500,38450.85,-33159.15,466132,48,Middle aged,Male,MD,Craft-repair,Sleeping,Husband,53300.0,0,2015,1,4,25,6,Week start,5,Morning,SC,Columbus,9935 4th drive,Single vehicle collision,Side collision,Major,1,Drive,Yes,1,Saab,92x,Wagon,2004,11-15 years,2,Police,Yes,71610,Yes,6510,Yes,13020,Yes,52080,Y
1,342868,2006,6,26,27,1,19.00,228,IN,1197.22,99.77,2000,Yes,5000000,250,500,22747.18,17677.18,468176,42,Middle aged,Male,MD,Machine-op-inspct,Reading,Other-relative,0.0,0,2015,1,4,21,2,Midweek,8,Morning,VA,Riverwood,6608 mlk hwy,Vehicle theft,Unknown,Minor,1,Hwy,Unknown,0,Mercedes,E400,Sedan,2007,6-10 years,0,Police,Unknown,5070,Yes,780,Yes,780,Yes,3510,Y
2,687698,2000,9,36,6,2,11.17,134,OH,1413.14,117.76,2000,Yes,5000000,100,300,15784.77,-18865.23,430632,29,Young adult,Female,PhD,Sales,Board-games,Own-child,35100.0,0,2015,2,8,22,6,Week start,7,Morning,NY,Columbus,7121 francis lane,Multi-vehicle collision,Rear collision,Minor,3,Lane,No,2,Dodge,Ram,Sedan,2007,6-10 years,3,Police,No,34650,Yes,7700,Yes,3850,Yes,23100,N
3,227811,1990,5,21,25,4,21.33,256,IL,1415.74,117.98,2000,Yes,6000000,250,500,30197.73,-33202.27,608117,41,Middle aged,Female,PhD,Armed-forces,Unknown,Unmarried,48900.0,-62400,2015,1,2,10,5,Weekend,5,Morning,OH,Arlington,6956 maple drive,Single vehicle collision,Front collision,Major,1,Drive,Unknown,1,Chevrolet,Tahoe,Sedan,2014,< 5 years,2,Police,No,63400,Yes,6340,Yes,6340,Yes,50720,Y
4,367455,2014,6,23,6,4,19.00,228,IL,1583.91,131.99,1000,Yes,6000000,500,1000,30094.29,23594.29,610706,44,Middle aged,Male,Associate,Sales,Unknown,Unmarried,66000.0,-46000,2015,2,8,17,1,Week start,20,Night,NY,Arlington,3041 3rd ave,Vehicle theft,Unknown,Minor,1,Ave,No,0,Accura,Rsx,Sedan,2009,6-10 years,1,None,No,6500,Yes,1300,Yes,650,Yes,4550,N

In [31]:
# Save to excel file
df_reordered.to_excel('Advanced Insurance Claims Data.xlsx')